@model CarDoze.Areas.Administrator.ViewModels.CompanyViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Administrator/Views/_Layout2.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Partnerships.TypeShipp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Partnerships.TypeShipp)
        </dd>
        
    </dl>
    
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="CompanyID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a href="/Companies/Index">Back to List</a>
    </form>
</div>
